<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="https://maua.br/images/selo-60-anos-maua.svg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Lab: Combinação, Reshape e outras transformações dos dados

Referências e Materiais úteis para este Lab:

- [Notas de Aula](https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_Pandas_I.ipynb)
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)
- [Pandas Reshaping](https://pandas.pydata.org/docs/user_guide/reshaping.html)
---

In [2]:
import numpy as np
import pandas as pd

path = 'https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/'

# **CASE: Yahoo Finance**

Nos exercícios a seguir partimos da seguinte base de dados extraída do `yahoo finance`:

<small>
Para consulta de ativos no Yahoo Finance, pesquise em: https://ca.finance.yahoo.com/lookup

In [3]:
%%capture
!pip install yfinance

In [4]:
import yfinance as yf

data = yf.download(['^BVSP', 'PETR4.SA', 'ITUB4.SA', 'BRL=X', 'BTC-USD'],'2019-01-01','2023-03-01')
data.head()

[*********************100%***********************]  5 of 5 completed

           Adj Close                                               Close  \
               BRL=X      BTC-USD   ITUB4.SA   PETR4.SA    ^BVSP   BRL=X
Date
2019-01-01    3.8800  3843.520020        NaN        NaN      NaN  3.8800
2019-01-02    3.8799  3943.409424  31.761526  11.060241  91012.0  3.8799
2019-01-03    3.7863  3836.741211  32.285175  11.331463  91564.0  3.7863
2019-01-04    3.7551  3857.717529  31.744356  11.363641  91841.0  3.7551
2019-01-05       NaN  3845.194580        NaN        NaN      NaN     NaN

                                                        ...    Open  \
                BTC-USD   ITUB4.SA   PETR4.SA    ^BVSP  ...   BRL=X
Date                                                    ...
2019-01-01  3843.520020        NaN        NaN      NaN  ...  3.8800
2019-01-02  3943.409424  37.000000  24.059999  91012.0  ...  3.8799
2019-01-03  3836.741211  37.610001  24.650000  91564.0  ...  3.7866
2019-01-04  3857.717529  36.980000  24.719999  91841.0  ...  3.7550
2019-01-05  3845.194580        NaN        NaN      NaN  ...     NaN

                                                       Volume              \
                BTC-USD   ITUB4.SA   PETR4.SA    ^BVSP  BRL=X     BTC-USD
Date
2019-01-01  3746.713379        NaN        NaN      NaN    0.0  4324200990
2019-01-02  3849.216309  35.439999  22.549999  87887.0    0.0  5244856836
2019-01-03  3931.048584  36.750000  23.959999  91011.0    0.0  4530215219
2019-01-04  3832.040039  37.220001  24.850000  91577.0    0.0  4847965467
2019-01-05  3851.973877        NaN        NaN      NaN    NaN  5137609824


              ITUB4.SA     PETR4.SA      ^BVSP
Date
2019-01-01         NaN          NaN        NaN
2019-01-02  25581700.0  104534800.0  5615400.0
2019-01-03  21938600.0   95206400.0  6066200.0
2019-01-04  24873500.0   72119800.0  5322100.0
2019-01-05         NaN          NaN        NaN

[5 rows x 30 columns]

## Q1. `pd.concat()`. 

Selecione o valor de fechamento ajustado de cada ticket produzindo um DataFrame `df` com o seguinte aspecto:

In [5]:
#@markdown
pd.read_csv(path + 'lab_yahoo_q1.csv').head()

         Date   BRL=X      BTC-USD   ITUB4.SA   PETR4.SA    ^BVSP
0  2019-01-01  3.8800  3843.520020        NaN        NaN      NaN
1  2019-01-02  3.8799  3943.409424  31.761532  11.060242  91012.0
2  2019-01-03  3.7863  3836.741211  32.285156  11.331462  91564.0
3  2019-01-04  3.7551  3857.717529  31.744347  11.363639  91841.0
4  2019-01-05     NaN  3845.194580        NaN        NaN      NaN

As colunas acima são compostas. Veja um exemplo para extrair a cotação do Dólar em Reais.

In [6]:
data[('Adj Close', 'BRL=X')]

Date
2019-01-01    3.8800
2019-01-02    3.8799
2019-01-03    3.7863
2019-01-04    3.7551
2019-01-05       NaN
               ...
2023-02-24    5.1362
2023-02-25       NaN
2023-02-26       NaN
2023-02-27    5.2078
2023-02-28    5.1997
Freq: D, Name: (Adj Close, BRL=X), Length: 1520, dtype: float64

In [10]:
# Seu código

df = data['Adj Close'].reset_index()
df

           Date   BRL=X       BTC-USD   ITUB4.SA   PETR4.SA     ^BVSP
0    2019-01-01  3.8800   3843.520020        NaN        NaN       NaN
1    2019-01-02  3.8799   3943.409424  31.761526  11.060241   91012.0
2    2019-01-03  3.7863   3836.741211  32.285175  11.331463   91564.0
3    2019-01-04  3.7551   3857.717529  31.744356  11.363641   91841.0
4    2019-01-05     NaN   3845.194580        NaN        NaN       NaN
...         ...     ...           ...        ...        ...       ...
1515 2023-02-24  5.1362  23198.126953  25.652184  25.900000  105873.0
1516 2023-02-25     NaN  23175.375000        NaN        NaN       NaN
1517 2023-02-26     NaN  23561.212891        NaN        NaN       NaN
1518 2023-02-27  5.2078  23522.871094  25.322412  26.150000  105711.0
1519 2023-02-28  5.1997  23147.353516  25.412352  25.240000  104932.0

[1520 rows x 6 columns]

In [11]:
#@markdown Must be `True`
df.shape == (1520, 6)

True

(Moodle) Qual a soma de todos os valores do dataframe (exceto o campo de datas)?

In [ ]:
# Seu código

## Q2. `df.loc`. 

Crie para o ticket `BTC-USD` um DataFrame `df_day_gain` como abaixo com a informação de `day_gain`, onde `True` significa um valor maior do ativo no dia seguinte.

In [ ]:
#@markdown
pd.read_csv(path + 'lab_yahoo_q2.csv').head()

         Date  day_gain
0  2019-01-02      True
1  2019-01-03     False
2  2019-01-04      True
3  2019-01-05     False
4  2019-01-06      True

In [ ]:
# Seu código

In [ ]:
#@markdown Must be `True`
len(df_day_gain) == 1519

True

(Moodle) Qual a quantidade de `day_gain`(s) `True` e `False` encontradas para o ativo  `BTC-US`?

In [ ]:
# Seu código

## Q3. `df.melt()`


<img src="https://pandas.pydata.org/docs/_images/reshaping_melt.png" width=800, align="right">

Empregue o método `melt()` do `Pandas` para transformar o DataFrame `df` com abaixo.

Dica: use `pd.to_datetime(df.Date).dt.day_name()` para gerar o nome dos dias da semana.

In [ ]:
#@markdown
pd.read_csv(path + 'lab_yahoo_q3.csv').head()

         Date Ticket  Adj Close day_of_week
0  2019-01-01  BRL=X     3.8800     Tuesday
1  2019-01-02  BRL=X     3.8799   Wednesday
2  2019-01-03  BRL=X     3.7863    Thursday
3  2019-01-04  BRL=X     3.7551      Friday
4  2019-01-05  BRL=X        NaN    Saturday

In [ ]:
# Seu código

In [ ]:
#@markdown Must be True
len(df[ df.day_of_week == 'Tuesday' ]) == 1090

(Moodle) Qual o maior valor do Real às sextas-feiras (`Friday`) dentro do perído e em que data isso ocorreu? (Atenção, a base contém cotações do dólar).

In [ ]:
# Seu código

## Q4. `df.pivot()`

<img src="https://pandas.pydata.org/docs/_images/reshaping_pivot.png" width=800, align="right">

Crie um DataFrame `df_Friday`, para ter o seguinte formato, somente com os valores de fechamento da semana (`Friday`) dos ativos.

Dica: 
1. Selecione somente os dias desajados
2. Aplique o `df.pivot()`
3. Faça o `reset_index()`

In [ ]:
#@markdown
pd.read_csv(path + 'lab_yahoo_q4.csv').head()

         Date   BRL=X      BTC-USD   ITUB4.SA   PETR4.SA    ^BVSP
0  2019-01-04  3.7551  3857.717529  31.744371  11.363641  91841.0
1  2019-01-11  3.7079  3687.365479  32.276577  11.487758  93658.0
2  2019-01-18  3.7489  3657.839355  32.328098  11.676232  96097.0
3  2019-01-25  3.7698  3599.765869        NaN        NaN      NaN
4  2019-02-01  3.6428  3487.945312  33.328152  11.860109  97861.0

In [ ]:
# Seu código

In [ ]:
#@markdown Must be True
int(df_Friday['BRL=X'].sum()) == 1067

True

(Moodle) Qual a média da cotação do dólar nas últimas 4 sextas-feiras da base?

In [ ]:
# Seu código

## Q5. Transformações dos dados.

Converta os valores *cabíveis* do DataFrame anterior para reais e, em seguida, normalize o valores de cada `Ticket`.

Dica: norma `minmax`, divida pelo máximo de cada `Ticket`).

In [ ]:
# Seu código

In [ ]:
#@markdown Must be True
all(df_Friday.max()[1::] == [1,1,1,1,1])

True

Execute o gráfico a seguir. Seu DataFrame deve se chamar `df_Friday`.

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(15,4))

df_Friday = df_Friday.set_index('Date')

for c in ['BRL=X', 'BTC-USD', 'ITUB4.SA', 'PETR4.SA', '^BVSP']:
  plt.plot(df_Friday[c], label=c)

plt.title('Friday Adj Close', fontsize=14, weight='bold')
plt.xlabel('Date')
plt.ylabel('Normalized Values')
plt.legend()

plt.show()

NameError: ignored

(Moodle) Com base no gráfico produzido, qual ativo apresentou crescimento mais consistente no período?