In [ ]:
import numpy as np
import pandas as pd
import io

In [ ]:
pasta = pd.read_excel('Pasta1.xlsx')

In [ ]:
print(pasta)

            a     b         c      Delta
0    1.000000   2.0  1.000000   0.000000
1    2.000000   4.0 -1.000000  24.000000
2    5.000000   3.0  1.000000 -11.000000
3    6.666667   4.0  0.333333   7.111111
4    8.666667   4.5  0.333333   8.694444
5   10.666667   5.0  0.333333  10.777778
6   12.666667   5.5  0.333333  13.361111
7   14.666667   6.0  0.333333  16.444444
8   16.666667   6.5  0.333333  20.027778
9   18.666667   7.0  0.333333  24.111111
10  20.666667   7.5  0.333333  28.694444
11  22.666667   8.0  0.333333  33.777778
12  24.666667   8.5  0.333333  39.361111
13  26.666667   9.0  0.333333  45.444444
14  28.666667   9.5  0.333333  52.027778
15  30.666667  10.0  0.333333  59.111111
16  32.666667  10.5  0.333333  66.694444
17  34.666667  11.0  0.333333  74.777778
18  36.666667  11.5  0.333333  83.361111

In [ ]:
print(pasta.iloc[1, 2])

NameError: ignored

In [ ]:
def bhaskara():
  pasta['x1'] = ((pasta.iloc[0, 1]) * -1)